@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.add,
.snack {
  margin-top: 20px;
  margin-left: 20px;
}

/*.add {
  background-color: #ed3c33;
  border: none;
}

.add:hover {
  background-color: #f37871;
}*/

.snack {
  margin-right: 20px;
}

.vote {
  margin-left: 165px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collection-create-form_last-form-item {
  margin-bottom: 0;
}

.snack-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.snack {
  display: inline-block;
  min-width: 20%;
}
